[submodule "Framework/Libraries/bgfx"]
	path = Libraries/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "Framework/Libraries/bimg"]
	path = Libraries/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "Framework/Libraries/bx"]
	path = Libraries/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "Framework/Libraries/stb"]
	path = Libraries/stb
	url = https://github.com/nothings/stb
[submodule "Framework/Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Framework/Libraries/pcg-cpp"]
	path = Libraries/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "Libraries/nlohmann-json"]
	path = Libraries/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "Libraries/ImGuizmo"]
	path = Libraries/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Libraries/ImFileDialog"]
	path = Libraries/ImFileDialog
	url = https://github.com/JimmyLord/ImFileDialog.git
[submodule "Libraries/flecs"]
	path = Libraries/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "Libraries/enkiTS"]
	path = Libraries/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
