[submodule "Framework/Libraries/bgfx"]
	path = Framework/Libraries/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "Framework/Libraries/bimg"]
	path = Framework/Libraries/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "Framework/Libraries/bx"]
	path = Framework/Libraries/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "Framework/Libraries/stb"]
	path = Framework/Libraries/stb
	url = https://github.com/nothings/stb
[submodule "Framework/Libraries/imgui"]
	path = Framework/Libraries/imgui
	url = https://github.com/ocornut/imgui.git
